@font-face {
  font-family: 'Gyosho';
  src: url('https://s3.us-east-2.amazonaws.com/matthew-site/Gyosho.ttf')
    format('ttf');
}

body {
  background-color: aliceblue;
  font-family: 'Gyosho'
}

.waiting {
  font-family: "Gyosho";
  text-align: center;
}

.loser {
  font-family: "Gyosho";
  text-align: center;
}

.appBody {
  font-family: "Gyosho";
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.title {
  font-family: "Gyosho";
  font-size: 48px;
  margin: auto;
}

.win {
  margin: auto;
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
}

h3 {
  font-family: "Gyosho";
  margin: 10px;
}

button {
  font-family: inherit;
  font-size: 15px;
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 15px;
}

.buttons {
  font-family: inherit;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.turn {
  position: absolute;
  font-size: 36px;
  margin-left: 50px;
}

.boardWin {
  display: flex;
  flex-direction: column;
}

.identity {
  margin-left: 80%;
  position: absolute;
  font-size: 20px;
}