body {
  background-color: aliceblue;
}

.appBody {
  font-family: "Gyosho";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
}

.win {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
}

h3 {
  margin: 10px;
}
.buttons {
  display: flex;
  font-family: inherit;
}

button {
  font-family: inherit;
  font-size: 15px;
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.clearBoard {
  margin-left: 10px;
}

.turn {
  color: red;
}

.boardWin {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 17px;
  }
}